<img src='https://www.insaid.co/wp-content/uploads/2018/04/INSAID_Logo-1.png' height="240" width="360"/>
<br/>
# Python basics

In [14]:
print("Suchit's")

Suchit's

# I found this very handy

In [15]:
'''I found this handy'''
print('I found this very handy')

I found this very handy

### 1.Write a Python program to print the following string

Sample String: "Welcome to INSAID- International School of AI and Data Science"

In [16]:
print("Welcome to INSAID- International School of AI and Data Science")

Welcome to INSAID- International School of AI and Data Science

In [19]:
print(3*4)
print((12/5)*45)

12
108.0

In [ ]:
print("Welcome to INSAID- International School of AI and Data Science") # '' & ""

### 1.1 In a “Hello, World!” program, a comment may look like this:

In [22]:
# Print “Hello, World!” to console
print("Hello, World!",sum([51,2,57]))

#sum()

Hello, World! 110

Observation: Prints Hello World

In [23]:
help("sum")

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [24]:
help("type")

Help on class type in module builtins:

class type(object)
 |  type(object_or_name, bases, dict)
 |  type(object) -> the object's type
 |  type(name, bases, dict) -> a new type
 |
 |  Methods defined here:
 |
 |  __call__(self, /, *args, **kwargs)
 |      Call self as a function.
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __dir__(...)
 |      __dir__() -> list
 |      specialized __dir__ implementation for types
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __instancecheck__(...)
 |      __instancecheck__() -> bool
 |      check if an object is an instance
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __prepare__(...)
 |      __prepare__() -> dict
 |      used to create the namespace for the class statement
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __sizeof__(...)
 |      __sizeof__() -> int
 |      return memory consumption of the type object
 |
 |  __subclasscheck__(...)
 |      __subclasscheck__() -> bool
 |      check if a class is a subclass
 |
 |  __subclasses__(...)
 |      __subclasses__() -> list of immediate subclasses
 |
 |  mro(...)
 |      mro() -> list
 |      return a type's method resolution order
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __abstractmethods__
 |
 |  __dict__
 |
 |  __text_signature__
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __base__ = <class 'object'>
 |      The most base type
 |
 |  __bases__ = (<class 'object'>,)
 |
 |  __basicsize__ = 864
 |
 |  __dictoffset__ = 264
 |
 |  __flags__ = 2148291584
 |
 |  __itemsize__ = 40
 |
 |  __mro__ = (<class 'type'>, <class 'object'>)
 |
 |  __weakrefoffset__ = 368

In [25]:
sum([3,4,5])

12

In [26]:
print(12)

12

In [27]:
print(sum([3,4,5]))
print(sum([5,6,7]))

12
18

In [30]:
import numpy as np

print(np.sum([3,4,5]))
sum([3,4,5])
'''
import suchit as su
su.sum([1,2,3])
'''

print(sum([3,4,5]))

12
12

In [31]:
45 + (78**2)/100

105.84

In [32]:
myList = ['i','j','k']
print(myList)

['i', 'j', 'k']

In [33]:
myTuple = ('i','j','k')
print(myTuple)

('i', 'j', 'k')

In [39]:
mySet = {1,1,2,5,3,4,1,7,5,4,7,9}

fruits = ['Apples','Apples','Apples','Apples','Banana','Banana']
print(set(fruits))
print(mySet)

{'Banana', 'Apples'}
{1, 2, 3, 4, 5, 7, 9}

In [42]:
myDict = {1:45,2:15,3:15,4:15, 3:26}
print(myDict)

{1: 45, 2: 15, 3: 26, 4: 15}

In [59]:
# Define sharks variable as a list of strings
list_sample = ['hammer', 'white', 'fish', 'frilled', 'bullhead', 'requiem', 5]
#                  0          1      2       3          4            5       6   
#print(id(list_sample))

#print(list_sample)
#print(list_sample[3])
#print(list_sample[:4])
#print(list_sample[:4:2])
#print(type(list_sample[6]))

# For loop that iterates over sharks list and prints each string item

for item in ['hammer', 'white', 'fish', 'frilled', 'bullhead', 'requiem', '5']:
    print(item,len(item))
print('hello')

hammer 6
white 5
fish 4
frilled 7
bullhead 8
requiem 7
5 1
hello

### 2.Write a Python Program to Add Two Numbers

In [ ]:
my_var = 2+3+4+10+67+47+.....+10

height1 =xvy*(2+3..+10)

height2 =abc*(2+3+..+10)

height3 =xvy*my_var

height4 =ghi*my_var

As per our **observations** above we find that our **sales vs cost** ration is way better in Eastern Zone

In [ ]:
2+4+10+67+47+.....+10

In [ ]:
mySum = 2+4+10+67+47
print(mySum)

In [ ]:
d = mySum+9
print(d)

In [ ]:
mySum = mySum + 90

In [ ]:
mySum

In [ ]:
d+12

In [67]:
# initialise two varaibles
a = 5444.332221
b = 4.77644533
# Add two numbers
sum_value = a + b

# Display the sum
print("The sum of a and b is",sum_value)
print(sum_value,"is the sum of a and b")
print("{} is the sum of a and b".format(sum_value))
print("is",sum_value,"the sum of a and b")

The sum of a and b is 5449.108666329999
5449.108666329999 is the sum of a and b
5449.108666329999 is the sum of a and b
is 5449.108666329999 the sum of a and b

In [ ]:
print("a will lead to",sum_value, "when added to b")
print("a will lead to {} when added to b".format(sum_value))

In [ ]:
mySum

In [70]:
def trade_val(a,b,com):
    if com == 'ABC':
        print("Trade {} id is worth {}".format(a,b))
    else:
        print("Trade {} id is worth {}".format(b,a))

#trade_val(10,5000,'ABC')
trade_val(2450000,12,'DEF')

Trade 12 id is worth 2450000

### 3.Write a Python Program to Find the product of two numbers

In [71]:
# initialise two varaibles
a = 5
b = 3
# multiply two numbers
c = a * b

print(c)

# Display the sum
print(c,"The product of a and b is")
print("The",c," product of a and b is")
print("The product",c," of a and b is")


print("The product of a and b is {}".format(c))
print("{} The product of a and b is ".format(c))
print("The product of {} a and b is ".format(c))
c = 15
currency = 'Rs.'
only = '/-'
print("The product of a and b is {}{}{}".format(currency,c,only))

15
15 The product of a and b is
The 15  product of a and b is
The product 15  of a and b is
The product of a and b is 15
15 The product of a and b is
The product of 15 a and b is
The product of a and b is Rs.15/-

### 4.Write a python program to find the area of triangle given height and base of the triangle as 3 and 10.

In [ ]:
# Area of the triangle A= 1/2(base * height)

#given height=3 and base =10

h=3

b=10

area_of_triangle = 1/2 * (b*h)

#print(area_of_triangle)
print("The area of triangle with h=3 and b=10 is {}".format(area_of_triangle))

In [ ]:
print("the product of a and b is {}".format(2))

### 5.Python Program to Swap Two Variables

In [ ]:
# initialise two varaibles
a = 5
b = 3

print('The value of a before swapping: {}'.format(a))
print('The value of b before swapping: {}'.format(b),'\n\n')

a,b = b,a
print('The value of a after swapping: {}'.format(a))
print('The value of b after swapping: {}'.format(b),'\n\n')

# create a temporary variable and swap the values

# initialise two varaibles
a = 5
b = 3

temp = a
a = b
b = temp

print('The value of a after swapping: {}'.format(a))
print('The value of b after swapping: {}'.format(b))

## Section -

### 1.Write a python program to print datatype of a varaible

In [78]:
a = 1
print(a, "is of type", type(a))

b = 2.2
print(b, "is of type", type(b))

c = 1+2j
print(c, "is of type", type(c))

# c = suchithascreatedaweirdpackage.whatisc()
#print(c, "is it a complex number?", isinstance(c,complex))

type(isinstance(c,complex))

1 is of type <class 'int'>
2.2 is of type <class 'float'>
(1+2j) is of type <class 'complex'>

bool

In [79]:
name = 'Suchit'
type(name)

str

### 2.Write a python program to extract an item or a range of items from a list.

In [85]:
a = [15,20,35,40,45,30,35,60]       # a[start:end] -> start is inclusive & end is exclusive
#     0, 1, 2, 3, 4, 5, 6, 7      

#print(len(a))
#print(a[2])

#print(a[1:6])
#print(a[1:6:2])

#print(a[5:])

#print(a[:6])

#print(a[5:])
#print(a[5::2])
#print(a[-2])
#print(a[5:2:-1])
#print(a[-1:-4:-1])
print(a[::-1])

[60, 35, 30, 45, 40, 35, 20, 15]

In [ ]:
print(a[6],a[7],a[0])

In [ ]:
print(a[1],a[4],a[5])

In [91]:
str_val = 'abc','cdf'
print(type(str_val))
print(str_val)

<class 'tuple'>
('abc', 'cdf')

In [95]:
str_val = 'abc',
type(str_val)

tuple

In [98]:
num = (1,)
print(type(num))
print(num)

<class 'tuple'>
(1,)

In [99]:
tup1 = 1,2
print(type(tup1))
print(tup1)

<class 'tuple'>
(1, 2)

### 3.Converting Floats to Integers

In [ ]:
# !pip install math

In [104]:
import math as mt
b = 125.1
c = 390.8
d = 12

'''
print(type(b))
print(type(c))
print('----')
print(int(b))
print(int(c))
print(float(d))
print('----')

'''

print(mt.floor(c))
print(mt.ceil(b))

390
126

### 4.Converting Numbers to Strings

In [112]:
int(float('10.3'))

10

In [1]:
my_int_value_1 = 10

print(my_int_value_1, "is of type", type(my_int_value_1))

my_int_to_str_value_1 = str(my_int_value_1)

print(my_int_to_str_value_1, "is of type", type(my_int_to_str_value_1))

10 is of type <class 'int'>
10 is of type <class 'str'>

In [111]:
#number_of_apple = comesfromsuchit.numapple()
fruit = 'Apple ' + str(10)
print(fruit)

Apple 10

In [8]:
fruit = 'Apple'
print(fruit,10)

Apple 10

### 5.Converting Strings to Numbers

In [116]:
a = '20'
b = int(a)
print(type(b))
print(b)

<class 'int'>
20

In [124]:
user_number = input('Send me a number:')

Send me a number:111

In [125]:
type(user_number)

str

In [126]:
int(user_number) + 10

121

In [127]:
a = 20.5
int(a)

20

In [129]:
a = "50"
b = "108"

#lines_more = int(a) - int(b)

'''
print(a+b)

'''
lines_more = int(a) + int(b)

print(lines_more)
print(type(lines_more))

158
<class 'int'>

In [130]:
a = "50"
b = "108"
print(int(a)+int(b))

158

### 6.Converting list to Tuples

In [25]:
your_list = ['request', 'source', 'repository', 'branch']
tup_1 = tuple(your_list)

print(your_list)
print(tup_1)

print()
print()


print(id(your_list))
print(id(tup_1))

['request', 'source', 'repository', 'branch']
('request', 'source', 'repository', 'branch')


140271166593160
140271166638104

In [24]:
tup_2 = ('request', 'source', 'repository', 'branch')
#tup_3 = 50,100,52
#print('tup_3',type(tup_3))

list_2 = list(tup_2)

print(tup_2)
print(list_2)

print()
print()

print(id(tup_2))
print(id(list_2))

('request', 'source', 'repository', 'branch')
['request', 'source', 'repository', 'branch']


140271166637304
140271166633160

In [26]:
print(tuple(['request', 'source', 'repository', 'branch']))

('request', 'source', 'repository', 'branch')

In [27]:
a = 'request', 'source', 'repository', 'branch'
b = 50,
print(a,b)
print(type(b))

('request', 'source', 'repository', 'branch') (50,)
<class 'tuple'>

### 7.Converting tuple to Lists

In [28]:
print(list(('blue','red','white')))

['blue', 'red', 'white']

In [29]:
('blue','red','white')
list()
print()

### 8. Converting strings to lists:

In [30]:
print(list('Suchit'))

['S', 'u', 'c', 'h', 'i', 't']

In [34]:
print(list("Suchit's"))

['S', 'u', 'c', 'h', 'i', 't', "'", 's']

In [7]:
# Doctor's'
print (list('DOC,TOR\'s'))

['D', 'O', 'C', ',', 'T', 'O', 'R', "'", 's']

In [1]:
print('INSAID')
print(list('INSAID'))

INSAID
['I', 'N', 'S', 'A', 'I', 'D']

In [8]:
"".join(['I', 'N', 'S', 'A', 'I', 'D'])

'INSAID'

In [9]:
['I', 'N', 'S', 'A', 'I', 'D'][::-1]

['D', 'I', 'A', 'S', 'N', 'I']

In [38]:
'INSAID'[::-1]

'DIASNI'

### 9.Assign different data types to a varibles

In [39]:
my_string = 'Hello, World!'            # Granular Data -> Character
my_flt = 45.06                         # Decimal Number 
my_bool = 5 > 9                        #A Boolean value will return either True or False
my_list = [[1,2,3,4], (1,2,'3',4), a ,b , 1.0, 2, [1,2,3,4], [1,2,'a',4]]  # Any item, item1=[1,2,3,4]
print(my_list)
my_tuple = ('one', 'two', 'three',1,2,3,[5,6,7])
my_set = {12,13,14.5,28,14,35,14}
print(my_set)
my_dict = {'letter': 'g', 'number': '7', 'symbol': '&'} # {k1:v1,k2:v2}
print(my_dict)

[[1, 2, 3, 4], (1, 2, '3', 4), ('request', 'source', 'repository', 'branch'), (50,), 1.0, 2, [1, 2, 3, 4], [1, 2, 'a', 4]]
{35, 12, 13, 14.5, 14, 28}
{'letter': 'g', 'number': '7', 'symbol': '&'}

In [40]:
emp_det = {'suchit':{'age':72,'weight':90},'akash':{'age':12,'weight':19}}

In [41]:
my_set

{12, 13, 14, 14.5, 28, 35}

## Section-

### Print out a string that uses a formatter

In [11]:
import numpy as np
np.

In [ ]:
import numpywrittenbysuchitin1990

numpywrittenbysuchitin1990.sum(1,2,3)
numpywrittenbysuchitin1990.divide(5,2)



import numpywrittenbysuchitin1990 as ns

ns.sum(1,2,3)
ns.divide(5,2)

In [15]:
a = '5'
b = 10
a+str(b)

'510'

In [16]:
name1='Sharukh'
cars1 = 4
print(name1+' has '+ str(cars1) +' cars.')

Sharukh has 4 cars.

In [17]:
print(name1,'has',cars1,'cars.')

Sharukh has 4 cars.

In [18]:
print("{0} has {1} cars.".format('Sharukh',4))

Sharukh has 4 cars.

In [22]:
print("{1} has {0} cars.".format(4,'Prabhas'))

Prabhas has 4 cars.

In [26]:
print("{0}{3}{2} has {1} cars.".format('{',4,'}','Prabhas'))

{Prabhas} has 4 cars.

### We can also assign a variable to be equal to the value of a string that has formatter placeholders:

In [23]:
open_string = "john likes {}{}{}."
print(open_string)

print(open_string.format('{}',"open source",'{}}'))

john likes {}{}{}.
john likes {}open source{}}.

### Using Formatters with Multiple Placeholders

In [27]:
"John likes grapes and Excel"

'John likes grapes and Excel'

In [28]:
def printinputs(name,fruit,software):
    print("{} like {} and {}".format(name,fruit,software))

In [29]:
new_open_string = "john likes {} {}."                      #2 {} placeholders
print(new_open_string.format("open-source", "software"))    #Pass 2 strings into method, separated by a comma

john likes open-source software.

In [30]:
sammy_string = "john loves {} {}, and has {} {}."                      #4 {} placeholders
print(sammy_string.format("open-source", "software", 5, "balloons"))    #Pass 4 strings into method

john loves open-source software, and has 5 balloons.

### Reordering Formatters with Positional and Keyword Arguments

In [ ]:
print("john the {} has a pet {}!".format("shark", "pilot fish"))

### We can pass these index numbers into the curly braces that serve as the placeholders in the original string:

In [9]:

#print("john the {0} has a pet {1}!".format("shark", "pilot fish"))

dept = 'IT'
if (dept=='IT'):
    print("john is a {1}, {0}, and {2} {3}!".format("happy", "smiling", "blue", "shark"))
else:
    print("john is a {}, {}, and {} {}!".format("smiling", "happy", "blue", "shark"))

john is a smiling, happy, and blue shark!

### Python Program to Get String Input from User

In [45]:
inputString = input("Enter any value: ")
print(inputString)
print(type(inputString))

Enter any value: 25
25
<class 'str'>

In [44]:
inputString.split(',')

['2', '5', '6', '7']

In [37]:
inputString+5

TypeError: must be str, not int

In [46]:
5 + int(inputString)

30

In [47]:
b = '{2:45,3:34,4:44}'
type(b)

str

### Python program for conditional statements

### 1)If the student receives over 65% on her test, report that her grade passes; if not, report that her grade fails

In [49]:
grade = 66

if grade > 65:
    print("Passing grade")
    print('Excellent')   
else:
    print('Wishing you all the best for the retest')

print('Irrespective')

Passing grade
Excellent
Irrespective

In [ ]:
grade = 60

if grade > 65:
    print("Passing grade")

else:
    print("Failing grade")

### Write a python program calculate whether a bank account balance is below 0.

In [54]:
balance = input()
balance = float(balance)
print(balance)




if balance < 0:
    print("Balance is below 0, add funds now or you will be charged a penalty.")

elif balance == 0:
        print('Balance is Zero')
elif balance == 0.23:
        print('Weird balance')
else:
    print("Your balance is above.")

0.2
0.2
Your balance is above.

### Using Else if statement

In [55]:
balance = 10

if balance < 0:
    # task 1
    # task 2
    print("Balance is below 0, add funds now or you will be charged a penalty.")

elif balance == 0:
    # task 3
    # task 4
    print("Balance is equal to 0, add funds soon.")

else:
    # task 5
    # task 6
    print("Your balance is above 0.")

Your balance is above 0.

### Python program to print  Fibonacci series between 0 to 50.

In [63]:
nterms = 5

a = 0
b = 1

count = 0

if nterms <= 0:
   print("enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(a)
else:
   print("Fibonacci sequence upto",nterms,":")
   while count < nterms:
       if(count == nterms-1):
            print(a)
       else:
            print(a)
       nth = a + b
       # update values
       a = b
       b = nth
       count=count+1

Fibonacci sequence upto 5 :
0
1
1
2
3

In [64]:
# Hypothetical situation where someone already has built the Fibonacci Series for you

#!pip install fibonacci

import fibonacci as f

'''
print(f.fibo(3))

'''
for i in range(0,5):
    print(f.fibo(i))

# 0 1 1 2 3 5 8

0
1
1
2
3

### Python program to find numbers which are divisible by 7 and multiple of 5 between a range 150 to 270

In [67]:
False or True

True

In [70]:
True and True

True

In [66]:
if ((1==2) or (2==2)):
    print('Yes Or works')
 
print('I am out')

Yes Or works
I am out

In [54]:
for num in range(0,20,2):   # 20 21 22 23 24..........38
    print(num/4)

0.0
0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5

In [82]:
for number in range(150,270):
    '''  
    if number %7==0 and number %5==0 :
        print(number)
    '''
    if number %35 == 0:
        print(number)

175
210
245

### Python program to Sum all the items in a list

In [57]:
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x          # sum_numbers = sum_numbers + x       
    return sum_numbers

print(sum_list([20,12,20,22]))
print(sum_list([666,12,20,22,33,22,55,77]))

74
907

In [58]:
sum([20,12,20,22])

74

In [85]:
def pl_name(team):
    for x in team:
        print(x)
    
        
pl_name(['virat','dhoni'])
#pl_name(['ashok','chhettri'])

virat
dhoni

In [ ]:
sum([666,12,20,22,33,22,55,77,77,77,22,33])

### Python program to Remove duplicates from a list.

In [86]:
a = [10,20,80,30,40,50,60,70,40,80,50,40]

dup_items = set()
uniq_items = []
for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)

print(dup_items,uniq_items)

{70, 40, 10, 80, 50, 20, 60, 30} [10, 20, 80, 30, 40, 50, 60, 70]

In [87]:
myset22 = set(a)
#myset22[2]
myset22

{10, 20, 30, 40, 50, 60, 70, 80}

In [88]:
myset22.pop()

70

In [89]:
myset22.pop()

40

### Python program to Get the largest number from a list.

In [ ]:
def max_num_in_list( list_ ):
    max_ = list_[ 0 ]
    for a in list_:
        if a > max_:
            max_ = a
    return max_
print(max_num_in_list([1, 12, 28, 0]))

In [ ]:
max([1, 12, 28, 0])

### Concatenation of Tuples.

In [ ]:
#my_tup = (1,5,3,4,5)
#my_tup.index(5)

In [96]:
tuple1 = (0, 1, 2, 3,[22,33])
print(tuple1)
print(id(tuple1))

'''

tuple1[2]=3   #Error

'''
#print(tuple1[4][1])
tuple1[4][1] = 44
print(tuple1)
print(id(tuple1))

(0, 1, 2, 3, [22, 33])
140718874539288
(0, 1, 2, 3, [22, 44])
140718874539288

In [101]:
# Code for concatenating 2 tuples
 
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'code')
'''
print(tuple1 + tuple2)

# Concatenating above two

print('1:',id(tuple1))
print('2:',tuple1)
print('3:',id(tuple2))
print('4:',tuple2)
new_var = tuple1 + tuple2
print('5:',new_var)
print('6:',id(new_var))
'''


print('tuple1 Before',id(tuple1))
print('tuple2 Before',id(tuple2))
tuple1 = tuple2
print('tuple1 After',id(tuple1))
print('tuple2 After',id(tuple2))
print(tuple1)

tuple1 Before 140718863144824
tuple2 Before 140718866399176
tuple1 After 140718866399176
tuple2 After 140718866399176
('python', 'code')

In [102]:
list_ = [1,2]
print(list_)
print(id(list_))
list_.append(5)
print(list_)
print(id(list_))
list_

[1, 2]
140718863509960
[1, 2, 5]
140718863509960

[1, 2, 5]

### Nesting of Tuples.

In [105]:
# Code for creating nested tuples
 
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'code')
tuple3 = (tuple1, tuple2)
tuple4 = (tuple1+tuple2)
#print(tuple3)

print(id(tuple1),id(tuple2),id(tuple3),id(tuple4))
print('Nested Tuple: ',tuple3)
print('Concatenated Tuple:',tuple4)

140718863146264 140718866401160 140718866393736 140718863342280
Nested Tuple:  ((0, 1, 2, 3), ('python', 'code'))
Concatenated Tuple: (0, 1, 2, 3, 'python', 'code')

In [75]:
(tuple1,tuple2)

((0, 1, 2, 3), ('python', 'code'))

### Write a Python program to add an item in a tuple.

In [109]:
#create a tuple
tuplex = (4, 6, 2, 8, 3, 1) 
print(tuplex)
print(id(tuplex))

#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple
print(type(tuplex))

#adding items in a specific index
tuplex2 = tuplex + (12,)
print(tuplex2)
print(id(tuplex2))

(4, 6, 2, 8, 3, 1)
140718874380424
<class 'tuple'>
(4, 6, 2, 8, 3, 1, 12)
140718875489576

### Write a Python program to remove an item from a tuple.

In [ ]:
#create a tuple
tuplex = "I", "D", "S", "P", "J"
print(tuplex)
print(id(tuplex))

listx = list(tuplex) 
print(listx)
print(id(listx))

#use different ways to remove an item of the list
listx.remove("I")
tuplex = tuple(listx)
print(tuplex)
print(id(tuplex))

### Python Program to Check if a given key already exists in a dictionary.

In [10]:
j = {1: [10,20], 2:'Apple'}
j.get(1)

[10, 20]

In [33]:
10 in j

False

In [16]:
1 in j

True

In [17]:
d = {1: [10,20], 2: {'a':20,'b':'10'}, 3: {10,30}, 4: 40, 5: 50, 6: 60}
def is_key_present(x):
  if x in d:
      print(x,'Key is present in the dictionary')
  else:
      print(x,'Key is not present in the dictionary')
is_key_present(5)
is_key_present(10)

e = d

5 Key is present in the dictionary
10 Key is not present in the dictionary

In [23]:
#print(d)
print(d.get(2).get('b'))

10
{'a': 20, 'b': '10'}
10

In [4]:
30 in d

False

In [5]:
myset33 = d.get(3)

In [6]:


myset33.pop()

10

In [8]:
d

{1: [10, 20], 2: {'a': 20, 'b': '10'}, 3: {30}, 4: 40, 5: 50, 6: 60}

In [9]:
e

{1: [10, 20], 2: {'a': 20, 'b': '10'}, 3: {30}, 4: 40, 5: 50, 6: 60}

### Write a Python script to merge two Python dictionaries.

In [39]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200, 'a':700}
d3 = d1.copy()
d4 = d1


'''
print('d1',id(d1))

print()
print()

print('d3',id(d3))
print('d4',id(d4))


'''


d1.update(d2)
print(d1)
print(d4)

{'a': 700, 'b': 200, 'x': 300, 'y': 200}
{'a': 700, 'b': 200, 'x': 300, 'y': 200}

take out all keys from d & d2
iterate d  -> key:value 
        d2 -> key is present in dict or not? -> Not present: Add it to dict, if key present: extract existing value and list[exis,new] --> Add it back to key

### Write a Python function to find the Max of three numbers.

In [ ]:
def max_of_two( x, y ):
    if x > y:
        return x
    return y
def max_of_three( x, y, z ):
    return max_of_two( x, max_of_two( y, z ) )
print(max_of_three(13, 26, -5))

In [ ]:
max([13,26,-5,18,12,55])

### Write a Python program to reverse a string.

In [ ]:
['I','N','S','A','I','D'][-2]

In [ ]:
[1,2,3,4][::-1]

In [ ]:
'INSAID'[::-1]

In [ ]:
def string_reverse(str1):

    rstr1 = ''
    index = len(str1) - 1
    #print(index)
    while index >= 0:
        rstr1 += str1[ index]               # a+=b --> a=a+b
        #print(index,rstr1)
        index = index - 1
    return rstr1
print(string_reverse('WONDERFUL'))

In [ ]:
string_reverse('INSAID')

### Write a Python function to calculate the factorial of a number

In [38]:
def factorial(n):
    print('value of n is',n)
    if n==0:
        print('Have reached 0 so returning 1')
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 5
value of n is 5
value of n is 4
value of n is 3
value of n is 2
value of n is 1
value of n is 0
Have reached 0 so returning 1
120

In [37]:
import math as mt
mt.factorial(5)

120

### Write a Python function to sum all the numbers in a list.

In [ ]:
def sum1(numbers):
    total = 0
    for x in numbers:
        total += x   # total = total + x
    return total
print(sum1((8, 2, 3, 0, 7)))

In [ ]:
sum((8, 2, 3, 0, 7))

### Write a Python function to check whether a number is in a given range.

In [ ]:
a=4

In [ ]:
print(range(3,9) )

In [ ]:
def test_range(n):
    if n in range(3,9):        # 3<=5 and 9>5
        print( " %s is in the range" % n)
    else :
        print("The number is outside the given range.")
test_range(8)

In [ ]:
for a in range(3,9):
    print(a)

In [42]:
for i in range(3,9):
    print(i)
print(8 in range(3,9))

3
4
5
6
7
8
True

### Find the value of pi using math module.

In [43]:
# import statement example
# to import standard module math

import math
print("The value of pi is", math.pi)

The value of pi is 3.141592653589793

In [44]:
math.factorial(7)

5040

### Write a Python program to read an entire text file.

### Content of text.txt.

### What is Python language?      

#### Python is a widely used high-level, general-purpose, interpreted, dynamic programming language.

In [46]:
print(open('test.txt').read())

Hello
My file for storing Nothing

In [1]:
def file_read(fname):
        txt = open(fname)
        print(txt.read())
file_read('test.txt')

Hello
My file for storing Nothing

In [4]:
file_var = open('test.txt')
print(file_var.read())

Hello
My file for storing Nothing

In [5]:
print(open('test.txt').read())

Hello
My file for storing Nothing

In [49]:
print(open('D:/etc/some.csv').read())

FileNotFoundError: [Errno 2] No such file or directory: 'D:/etc/some.csv'

### Write a Python program to read a file line by line and store it into a list.

In [9]:
def file_read(fname):
        with open(fname) as f:
                #Content_list is the list that contains the read lines.
                content_list = f.readlines()
                print(content_list)

file_read('test.txt')

['Hello\n', 'My file for storing Nothing']

In [50]:
1/0
print('Suchit')

ZeroDivisionError: division by zero

In [52]:
my_list = [1,2,3,4,0,5,6,7,8,0,9,10,11,12,14,15]
for denominator in my_list:
        sal = 10/denominator
        #print(sal)
        print(denominator,'executed successfully')

1 executed successfully
2 executed successfully
3 executed successfully
4 executed successfully

ZeroDivisionError: division by zero

In [53]:
my_list = [1,2,3,4,0,5,6,7,8,0,9,10,11,12,14,15]
for denominator in my_list:
    try:
        sal = 10/denominator
        print(denominator,'executed successfully')
    except Exception as e: 
        print('This employee has left the organization:',denominator,e)

1 executed successfully
2 executed successfully
3 executed successfully
4 executed successfully
This employee has left the organization: 0 division by zero
5 executed successfully
6 executed successfully
7 executed successfully
8 executed successfully
This employee has left the organization: 0 division by zero
9 executed successfully
10 executed successfully
11 executed successfully
12 executed successfully
14 executed successfully
15 executed successfully

### A python program to create user-defined exception.

In [54]:
print(10)
print(1)
if 3>2:
    print(1/0)
print(100)

10
1

ZeroDivisionError: division by zero

if(emloyee_LWD < today()):
    raise retiredException(emloyee_LWD)

retiredException: The employee retired on 22-10-2005

In [ ]:
1/0
print('hi')

In [ ]:
myList = [1,2,3,0,4,5]

for i in myList:
    10/i
    print('hi')

In [40]:
myList = [1,2,3,0,5,6]

for idx,i in enumerate(myList):
    try:
        #open('D:/etc/some.csv')
        
        10/i
        print(i,'hi')   
    except Exception as e:
        print('Index where it failed',idx)
        print('Value that failed',i)

1 hi
2 hi
3 hi
Index where it failed 3
Value that failed 0
5 hi
6 hi

In [72]:
class SatyamError(Exception):
 
    # Constructor or Initializer
    def __init__(self, value):
        self.value = value
 
    # __str__ is to print() the value
    def __str__(self):
        return('Satyam says the employee has left the organization. EmpID:  '+str(self.value))

In [78]:
class DPSE(Exception):
 
    # Constructor or Initializer
    def __init__(self, value):
        self.value = value
 
    # __str__ is to print() the value
    def __str__(self):
        return('Suchit says the employee is a vendor. EmpID:  '+str(self.value.get('id'))+' Name:'+str(self.value.get('name')))

In [79]:
class LWDE(Exception):
 
    # Constructor or Initializer
    def __init__(self, value):
        self.value = value
 
    # __str__ is to print() the value
    def __str__(self):
        return('Suchit says the employee has left the organization. EmpID:  '+str(self.value))

try:
    # Process salaries for employee ids 1-200
    # Task 1-100 
    #if(emp.lwd < today()):
    #raise(LWDE(101))
    
    
    #raise(SatyamError(12345))
    # Task 101-200
    #if(emp.vendor===True):
    raise(DPSE({'id':110,'name':'Jothi'}))
    print("done")
except LWDE as error:
     # Move the employee to Retired Database from active employee db
     print(error)

except DPSE as error:
     # Move the employee to Retired Database from active employee db
     print(error)

    
except SatyamError as error:
     # Move the employee to Retired Database from active employee db
     print(error)
    
except Exception as ex:
     print(ex)

finally:
    print("done1")
print("Smooth")

Suchit says the employee is a vendor. EmpID:  110 Name:Jothi
done1
Smooth

In [75]:
a = -7
print(~a)

6

### Write a Python program to calculate the discriminant value.

In [41]:
def discriminant(a_value,b_value,c_value):
    discriminant = (b_value**2) - (4*a_value*c_value)
    if discriminant > 0:
        print('Two Solutions. Discriminant value is:', discriminant)
    elif discriminant == 0:
        print('One Solution. Discriminant value is:', discriminant)
    elif discriminant < 0:
        print('No Real Solutions. Discriminant value is:', discriminant)
    return 'discriminant: ' + str(discriminant)


print(discriminant(4,4,1))
print(discriminant(3,15,7))
print(discriminant(5,5,2))

One Solution. Discriminant value is: 0
discriminant: 0
Two Solutions. Discriminant value is: 141
discriminant: 141
No Real Solutions. Discriminant value is: -15
discriminant: -15

In [ ]:
lst  =  [x ** 2  for x in range (1, 11)   if  x % 2 == 1] 
lst

In [46]:
def mybool(number):
    if (number*6+2)%17 == 0:
        return True
    elif (number*21+12)%43 == 2:
        return True
    else: False

In [49]:
def mybool(number):
    if number%2 == 0:
        return True
    else: False

In [51]:
lst1 = [num**2 for num in range(1,11) if mybool(num)]
lst1

[4, 16, 36, 64, 100]

In [82]:
even_sq = [num**2 for num in range(1,11) if num%2 == 0]
even_sq

[4, 16, 36, 64, 100]

In [56]:
for i in range(1,11):
    if i%2 == 0:
        print(i**2,end=',')
    else:
        print(i,end=',')

1,4,3,16,5,36,7,64,9,100,

In [ ]:
#'Suchit'[::-1]
str1 = ''
for a in 'Suchit':
    #str1 = str1 + a
    str1 = a + str1
    print(str1)
    
print(str1)

In [ ]:
a = 32

if a<25:
    print('A')
elif a<35:
    print('B')
elif a<45:
    print('C')

In [ ]:
a = 9
while a>0:
    print(a)
    #a-=1

In [87]:
mylambdafunction = lambda r: 3.14*r*r
print(mylambdafunction(10))

314.0

In [89]:
salary = [10,20,12,5]
list(map(lambda x: x*1.1,salary))

[11.0, 22.0, 13.200000000000001, 5.5]